<%- include('../layouts/header.ejs')%>


<section class="md">
    <div class="container">
        <div class="row justify-content-center">

            <!-- left panel -->
            
            <!-- end left panel -->

            <!-- right panel -->
            <div class="col-lg-12">

                <div class="common-block">               

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Date</th>
                                <th>Address</th>
                                <th>Payment</th>
                                <th>Amount</th>
                                <th>Status</th>
                                
                            </tr>
                        </thead>
                      <tbody>
                        
                    

                            for(let i =0 ;i<saleData.length;i++){
                                %>
                                <tr>
                                    <td><%=saleData[saleData.length-i-1].userName%></td>
                                    <td><%=saleData[saleData.length-i-1].date.toISOString().substring(0,10)%></td>
                                    <td><%=saleData[saleData.length-i-1].deliveryAddress%></td>
                                    <td><%=saleData[saleData.length-i-1].paymentMethod%></td>
                                    <td>₹<%=saleData[saleData.length-i-1].totalAmount%></td>
                                    <td><%=saleData[saleData.length-i-1].status%></td>
                                </tr>
                                
                                <%}
                      }%>
                      </tbody>
                    </table>
                </div>
                
                </div>

            </div>
           
        </div>
    </div>
</section>