<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from smartshop.websitelayout.net/home-shop-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:07 GMT -->
<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

    <!-- title  -->
    <title>The Foot</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- revolution slider css -->
    <link rel="stylesheet" href="css/rev_slider/settings.css">
    <link rel="stylesheet" href="css/rev_slider/layers.css">
    <link rel="stylesheet" href="css/rev_slider/navigation.css">

    <!-- theme core css -->
    <link href="css/styles-3.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->


    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">

        <!-- HEADER
        ================================================== -->
        <header class="header-light-nav header-02">

            <div class="navbar-default">

                <!-- top search -->
                <div class="top-search bg-primary">
                    <div class="container-fluid">
                        <form class="search-form" action="#" method="GET">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search display-27 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times display-27 mt-2"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container" >
                    <div class="row align-items-center g-0">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">

                                    <div class="navbar-header navbar-header-custom ">
                                        <!-- logo -->
                                        <!-- <a href="home-shop-1.html" class="navbar-brand logodefault"><img id="logo" src="img/logos/logo-color3.png" alt="logo"></a> -->
                                        <!-- end logo -->
                                    </div>

                                    <!-- menu toggler -->
                                    <div class="navbar-toggler"></div>
                                    <!-- end menu toggler -->

                                    <!-- menu area -->
                                    <ul class="navbar-nav mx-auto" id="nav" style="display: none;">

                                        <li><a href="/home">Home</a>
                                           
                                        </li>
                                        <li><a href="shop">shop</a>
                                           
                                        </li>
                                        <li><a href="cart">Cart</a>
                                            
                                        </li>
                                        
                                        <li><a href="order">order</a>
                                            
                                        </li>
                                        <li><a href="#">Pages</a>
                                            
                                        </li>
                                        <li><a href="#">Profile</a>
                                            <ul>
                                                <li><a href="/profile">Profile</a></li>
                                                <li><a href="/logout">LogOut</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- attribute navigation -->
                                    <!-- <div class="attr-nav">
                                        <ul>
                                             <li class="dropdown me-3 me-lg-0">
                                                <a href="/cart " class="dropdown-toggle" data-bs-toggle="dropdown">
                                                    <i class="ti-bag"></i>
                                                    
                                                </a>
                                                <ul class="dropdown-menu cart-list"> -->
                                                    
                                                <!-- <li class="total bg-primary"> -->
                                                        <!-- <span class="float-start"><strong>Total</strong>: $79.20</span> -->
                                                        <!-- <a href="shop-cart.html" class="butn-style2 small white float-end w-auto"><span>View Cart</span></a> -->
                                                    <!-- </li> 
                                                </ul>
                                            </li> 
                                              <li class="search"><a href="#"><i class="ti-search"></i></a></li>  
                                        </ul> 
                                    </div> -->
                                     <!-- end attribute navigation   -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        </header>
        
        <!-- CATEGORY MP-MENU
        ================================================== -->
        <div id="mp-menu" class="mp-menu">
            <div class="mp-level">
                <h2>All Categories</h2>
                <ul>
                    <li class="mp-has-sub">
                        <a href="#">Devices</a>
                        <div class="mp-level">
                            <h2>Devices</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="mp-has-sub">
                                    <a href="#">Mobiles Phones</a>
                                    <div class="mp-level">
                                        <h2>Mobile Phones</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Apple Mobile</a></li>
                                            <li><a href="#">OnePlus Mobile</a></li>
                                            <li><a href="#">Lenovo Mobile</a></li>
                                            <li><a href="#">Micromax Mobile</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mp-has-sub">
                                    <a href="#">Laptops</a>
                                    <div class="mp-level">
                                        <h2>Laptops</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Thin Laptops</a></li>
                                            <li><a href="#">2-in-1 Laptops</a></li>
                                            <li><a href="#">Gaming Laptops</a></li>
                                            <li><a href="#">Budget Laptops</a></li>
                                            <li><a href="#">Light Laptops</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mp-has-sub">
                                    <a href="#">Televisions</a>
                                    <div class="mp-level">
                                        <h2>Televisions</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Smart TV</a></li>
                                            <li><a href="#">Full HD TV</a></li>
                                            <li><a href="#">Android TV</a></li>
                                            <li><a href="#">4K TV</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mp-has-sub">
                        <a href="#">Beauty &amp; Health</a>
                        <div class="mp-level">
                            <h2>Beauty &amp; Health</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li><a href="#">Grooming</a></li>
                                <li><a href="#">Luxury Beauty</a></li>
                                <li><a href="#">Make-up</a></li>
                                <li><a href="#">Personal Care</a></li>
                                <li><a href="#">Nutrition Care</a></li>
                                <li><a href="#">Health Care</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mp-has-sub">
                        <a href="#">Store</a>
                        <div class="mp-level">
                            <h2>Store</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="mp-has-sub">
                                    <a class="icon icon-t-shirt" href="#">Clothes</a>
                                    <div class="mp-level">
                                        <h2 class="icon icon-t-shirt">Clothes</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li>
                                                <a class="icon icon-female" href="#">Women's Clothing</a>
                                            </li>
                                            <li>
                                                <a class="icon icon-male" href="#">Men's Clothing</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a class="icon icon-diamond" href="#">Watches</a>
                                </li>
                                <li>
                                    <a class="icon icon-music" href="#">Shoes</a>
                                </li>
                                <li>
                                    <a class="icon icon-food" href="#">Jewellery</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Books &amp; Audible</a></li>
                    <li><a href="#">Movies &amp; Games</a></li>
                </ul>

            </div>
        </div>

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background" style="background: url('img/bg/page-title.jpg');padding: 0;height: 380px;">
            <div class="container">

                <div class="title-info">
                    <h1 style="color: aliceblue;position: absolute;top: 0;">My Orders</h1></div>
                <div class="breadcrumbs-info">
                    
                </div>

            </div>
        </section>
        
        <!-- ACCOUNT ORDERS
        ================================================== -->
        <section class="md">
            <div class="container">
                <div class="row justify-content-center">

                    <!-- left panel -->
                    
                    <!-- end left panel -->

                    <!-- right panel -->
                    <div class="col-lg-12">

                        <div class="common-block">

                            <div class="inner-title">
                                <h4 class="mb-0">My Orders</h4>
                            </div>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Date</th>
                                        <th>Address</th>
                                        <th>Payment</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                              <tbody>
                               <%
                               if(orderData.length>0){
                                for(let i=0;i<orderData.length;i++){
                                    %>
                                    <tr>
                                        <td><%=orderData[orderData.length-i-1]._id%></td>
                                        <td><%=orderData[orderData.length-i-1].date.toISOString().substring(0,10)%></td>
                                        <td><%=orderData[orderData.length-i-1].deliveryAddress%></td>
                                        <td><%=orderData[orderData.length-i-1].paymentMethod%></td>
                                        <td>₹<%=orderData[orderData.length-i-1].totalAmount%></td>
                                        <td><%=orderData[orderData.length-i-1].status%></td>
                                        <%if(orderData[orderData.length-i-1].status != 'Cancelled'){%>
                                        <td>
                                               <%if(orderData[orderData.length-i-1].status == 'delivered'){%>
                                                <button class="btn btn-danger py-2 px-3" style="margin-bottom: 20px;" onclick="Cancel('<%=orderData[orderData.length-i-1]._id%>')">Return</button>
                                               <%}else{%>
                                               <button class="btn btn-danger py-2 px-3" style="margin-bottom: 20px;" onclick="Cancel('<%=orderData[orderData.length-i-1]._id%>')">Cancel</button>
                                               <%}%>
                                              </div>      
                                        </td>
                                        <%}%>
                                        <td>
                                            <a href="/showProducts?id=<%=orderData[orderData.length-i-1].id%>">
                                            <div class="pricing mt-1">
                                                <button  class="btn btn-primary py-2 px-3" style="margin-bottom: 20px;">view</button>
                                            </div>
                                        </a>
                                        </td>
                                    </tr>
                                    <%
                                }
                               }
                               %>
                              </tbody>
                            </table>
                        </div>
                        
                        </div>

                    </div>
                    <!-- end right panel -->
                </div>
                <br>
                
                <div class="pagination text-small text-uppercase text-extra-dark-gray">
                    <ul>
                        <% for(i=0;i < totalPage; i++){ %>
                            <% if(i+1 == page){ %> 
                                <a href="/order?page=<%= i+1 %>" class="active"><%= i+1 %></a>
                            <%} else { %>
                                <a href="/order?page=<%= i+1 %>"><%= i+1 %></a>
                            <% }%>
                        <% } %>
    
                    </ul>
                </div>
                    
            </div>
        </section>
       
        
        <!-- FOOTER
        ================================================== -->
        <footer class="classic-footer bordered">

            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-2-3 mb-lg-0">
                        <h3>Contact Us</h3>
                        <ul class="list-style mb-2 ps-0">
                            <li>
                                <strong>Address:</strong><span class="ps-1">74 Guild Street 542B, Town MT.</span>
                            </li>
                            <li>
                                <strong>Phone: </strong><span class="ps-1">(+44) 123 456 789</span>
                            </li>
                            <li>
                                <strong>Email: </strong><span class="ps-1">addyour@emailhere</span>
                            </li>
                        </ul>

                        <ul class="list-style-two mb-0 ps-0">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-2-3 mb-lg-0">

                        <div class="row">
                            <div class="col-md-6 col-6 pe-lg-0">
                                <h3>Quick Links</h3>
                                <ul class="list-style ps-0">
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">Our shop</a></li>
                                    <li><a href="#">Secure shopping</a></li>
                                    <li><a href="#">Privacy policy</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-6 pe-lg-0">
                                <h3>My Account</h3>
                                <ul class="list-style ps-0">
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="#">Wish List</a></li>
                                    <li><a href="#">Newsletter</a></li>
                                    <li><a href="#">Returns</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="ps-lg-1-9">

                            <div class="row">
                                <div class="col-lg-12 col-md-6 mb-1-9">
                                    <h3>News Letter</h3>
                                    <form method="post">
                                        <div class="form-group footer-subscribe">
                                            <input type="email" placeholder="Subscribe with us" id="email" class="form-control">
                                            <a href="#" class="butn-style2"><i class="fas fa-paper-plane display-27 mt-1"></i></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <h3>Download Our Mobile Apps</h3>
                                    <div class="text-start">
                                        <a href="#" class="btn bordered text-start ms-1 ms-md-0 mt-1 mt-md-0 mb-0 mb-lg-2 mb-xl-0">
                                            <span class="media align-items-center">
                                        <span class="fab fa-apple display-26 pe-3"></span>
                                            <span class="media-body">
                                            <span class="d-block display-32">Download on the</span>
                                            <strong>App Store</strong>
                                            </span>
                                            </span>
                                        </a>

                                        <a href="#" class="btn bordered text-start ms-1 ms-lg-0 ms-xl-1 mt-1 mt-md-0">
                                            <span class="media align-items-center">
                                        <span class="fab fa-google-play display-26 pe-3"></span>
                                            <span class="media-body">
                                            <span class="d-block display-32">Get it on</span>
                                            <strong>Google Play</strong>
                                            </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bottom py-1-9 mt-6 mt-lg-8">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="text-center text-md-start">
                                <p class="mb-0">&copy; <span class="current-year"></span> The Foot is Powered by <a href="" target="_blank" class="text-dark"> Saifu</a></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-style-17 text-center text-md-end">
                                <li><img src="img/content/payment-options/visa.png" alt="..."></li>
                                <li><img src="img/content/payment-options/mastercard.png" alt="..."></li>
                                <li><img src="img/content/payment-options/paypal.png" alt="..."></li>
                                <li><img src="img/content/payment-options/amex.png" alt="..."></li>
                                <li><img src="img/content/payment-options/discover.png" alt="..."></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        
    </div>
    
    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/smartshop-multipurpose-ecommerce-template-WB0N7CT4D" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>
    
    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    
    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="js/core.min.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>
	
	<!-- all js include end -->

</body>
<script>
    function Cancel (id){
        Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
    }).then((result)=>{
        if(result.isConfirmed){
            $.ajax({
            url: '/cancel',
            method: 'post',
            data: {
                ids:id,
            },
            success:(response) => {
                location.reload()
            }
          })
        }
      })
    }
</script>


<!-- Mirrored from smartshop.websitelayout.net/account-orders.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:34 GMT -->
</html>