<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from smartshop.websitelayout.net/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:39 GMT -->
<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

    <!-- title  -->
    <title>The Foot</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- theme core css -->
    <link href="css/styles.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">

        <!-- HEADER
        ================================================== -->
        <header class="fixed header-light-nav">

           

            <div class="navbar-default">

                <!-- top search -->
                <div class="top-search bg-primary">
                    <div class="container-fluid">
                        <form class="search-form" action="#" method="GET">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search display-27 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times display-27 mt-2"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container-fluid p-0">
                    <div class="row align-items-center g-0">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">

                                    <!-- category toggler -->
                                    <!-- <a href="#" id="trigger" class="menu-trigger"><i class="ti-menu"></i></a> -->
                                    <!-- end category toggler -->

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- logo -->
                                        <!-- <a href="index.html" class="navbar-brand logodefault"><img id="logo" src="img/logos/logo.png" alt="logo"></a> -->
                                        <!-- end logo -->
                                    </div>

                                    <!-- menu toggler -->
                                    <div class="navbar-toggler"></div>
                                    <!-- end menu toggler -->

                                    <!-- menu area -->
                                    <ul class="navbar-nav mx-auto" id="nav" style="display: none;">

                                        <li><a href="/home">Home</a>
                                           
                                        </li>
                                        <li><a href="shop">shop</a>
                                           
                                        </li>
                                        <li><a href="cart">Cart</a>
                                            
                                        </li>
                                        
                                        <li><a href="order">order</a>
                                            
                                        </li>
                                        <li><a href="#">Pages</a>
                                            
                                        </li>
                                        <li><a href="#">Profile</a>
                                            <ul>
                                                <li><a href="/profile">Profile</a></li>
                                                <li><a href="/logout">LogOut</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- attribute navigation -->
                                    <!-- <div class="attr-nav">
                                        <ul>
                                            <li class="dropdown me-3 me-lg-0">
                                                <a href="" class="dropdown-toggle" data-bs-toggle="dropdown">
                                                    <i class="ti-bag"></i>
                                                    
                                                </a>
                                                <ul class="dropdown-menu cart-list">
                                                   
                                                </ul>
                                            </li>
                                            <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                        </ul>
                                    </div> -->
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </header>
        
        <!-- CATEGORY MP-MENU
        ================================================== -->
        

        <!-- PAGE TITLE
        ================================================== -->
        
            <div class="container">

                <div class="title-info">
                  
                <div class="breadcrumbs-info">
                
                </div>

            </div>
        </section>
        
        <!-- CHECKOUT COMPLETE
        ================================================== -->
        <section class="md">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">

                        <div class="common-block text-center">

                            <div class="inner-title">
                                <h3 class="mb-0">Thank you for your order!</h3>
                            </div>

                            <p class="lead mb-4">
                                Thank you for your payment. An automated payment receipt will be sent to your registered email.
                            </p>

                            <!-- <a href="order-tracking.html" class="butn-style2 wide m-1">Track your order</a> -->
                            <a href="home" class="butn-style2 wide m-1">Back to home</a>

                        </div>

                    </div>
                </div>
            </div>
            </div>
        </section>
       


                                <section class="main-pd-wrapper" id="invoice" style="width: 450px; margin: auto">
                                  <div style="
                                              text-align: center;
                                              margin: auto;
                                              line-height: 1.5;
                                              font-size: 14px;
                                              color: #4a4a4a;
                                            ">
                                         
                            
                                            <p style="font-weight: bold; color: #000; margin-top: 15px; font-size: 18px;">
                                               Invoice/Bill Of Supply <span class="text-danger">StepUP</span> Retailers<br> Private Limited
                                            </p>
                                            <p style="margin: 15px auto;">
                                              A2, Test Street <br>
                                              Test Area Bangaluru 560001, Karnataka
                                            </p>
                                            <p>
                                              <b>GSTIN:</b> 0987653456789
                                            </p>
                                            <p>
                                              <b>CIN:</b> 0987653456789
                                            </p>
                                            <p>
                                              <b>FSSAI No. :</b> 0987653456789
                                            </p>
                                            <hr style="border: 1px dashed rgb(131, 131, 131); margin: 25px auto">
                                          </div>
                                          <table style="width: 100%; table-layout: fixed">
                                            <thead>
                                              <tr>
                                                <th style="width: 50px; padding-left: 0;">Sn.</th>
                                                <th style="width: 220px;">Item Name</th>
                                                <th>Price</th>
                                                <th>QTY</th>
                                                <th style="text-align: right; padding-right: 0;">Total Price</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                <%orderData.products.forEach((value)=>{%>
                                                <tr class="invoice-items">  
                                                
                                                    <td></td>
                                                        <td ><%= value.productId.productName %> </td>
                                                        <td>₹<%= value.productPrice%></td>
                                                        <td><%= value.count %>PC</td>
                                                        <td style="text-align: right;">₹<%= value.productPrice%></td>
                                               <% })%>
                                               
                                                </tr>
                                              
                                              </tbody>
                                          </table>
                                          <table style="width: 100%;
                                          margin-top: 15px;
                                          border: 1px dashed #00cd00;
                                          border-radius: 3px;">
                                            <thead>
                                              <tr>
                                                <th>Sub Total</th>
                                               
                                                <th style="text-align: right;">₹ <%=orderData.Amount%></th>
                                                
                                              </tr>
                                              <tr>
                                                <td>Discount </td>
                                                
                                                <!-- <td style="text-align: right;">-₹ </td> -->
                                                
                                                <td style="text-align: right; color: #00cd00;" >₹ <%= orderData.Amount-orderData.totalAmount %></td>
                                                  
                                              </tr>
                                              <tr>
                                                <!-- <td>Total Saving In Rs </td> -->
                                                
                                                  <!-- <td style="text-align: right;">₹</td> -->
                                                  
                                                  <!-- <td style="text-align: right;">₹ 0</td> -->
                  
                                              </tr>
                                              
                                            </thead>
                                         
                                          </table>
                            
                                          <table class="my-3" style="width: 100%;
                                          background: #fcbd024f;
                                          border-radius: 4px;">
                                            <thead>
                                              <tr>
                                                <th>Total</th>
                                                
                                                <th>&nbsp;</th>
                                                <th style="text-align: right;">₹<%= orderData.totalAmount %></th>
                                                
                                              </tr>
                                            </thead>
                                         
                                          </table>
                                </section>
                              </body>
                           
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn_3" onclick="invoice()">Save Invoice</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <script>
                    function invoice() {
                        var divToPrint = document.getElementById("invoice");
                        var invoiceContent = divToPrint.outerHTML;
                        
                        // Create a Blob with the invoice content
                        var blob = new Blob([invoiceContent], { type: "text/html" });
            
                        // Create a URL for the Blob
                        var url = URL.createObjectURL(blob);
            
                        // Create a download link
                        var downloadLink = document.createElement("a");
                        downloadLink.href = url;
                        downloadLink.download = "invoice.html";
                        downloadLink.style.display = "none";
            
                        // Append the link to the body and click it programmatically
                        document.body.appendChild(downloadLink);
                        downloadLink.click();
            
                        // Clean up by revoking the URL and removing the link
                        URL.revokeObjectURL(url);
                        document.body.removeChild(downloadLink);
                    }
                </script>
        </section>
        
        <!-- FOOTER
        ================================================== -->
        <footer class="classic-footer bordered">

            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-2-3 mb-lg-0">
                        <h3>Contact Us</h3>
                        <ul class="list-style mb-2 ps-0">
                            <li>
                                <strong>Address:</strong><span class="ps-1">74 Guild Street 542B, Town MT.</span>
                            </li>
                            <li>
                                <strong>Phone: </strong><span class="ps-1">(+44) 123 456 789</span>
                            </li>
                            <li>
                                <strong>Email: </strong><span class="ps-1">addyour@emailhere</span>
                            </li>
                        </ul>

                        <ul class="list-style-two mb-0 ps-0">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-2-3 mb-lg-0">

                        <div class="row">
                            <div class="col-md-6 col-6 pe-lg-0">
                                <h3>Quick Links</h3>
                                <ul class="list-style ps-0">
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">Our shop</a></li>
                                    <li><a href="#">Secure shopping</a></li>
                                    <li><a href="#">Privacy policy</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-6 pe-lg-0">
                                <h3>My Account</h3>
                                <ul class="list-style ps-0">
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="#">Wish List</a></li>
                                    <li><a href="#">Newsletter</a></li>
                                    <li><a href="#">Returns</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="ps-lg-1-9">

                            <div class="row">
                                <div class="col-lg-12 col-md-6 mb-1-9">
                                    <h3>News Letter</h3>
                                    <form method="post">
                                        <div class="form-group footer-subscribe">
                                            <input type="email" placeholder="Subscribe with us" id="email" class="form-control">
                                            <a href="#" class="butn-style2"><i class="fas fa-paper-plane display-27 mt-1"></i></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <h3>Download Our Mobile Apps</h3>
                                    <div class="text-start">
                                        <a href="#" class="btn bordered text-start ms-1 ms-md-0 mt-1 mt-md-0 mb-0 mb-lg-2 mb-xl-0">
                                            <span class="media align-items-center">
                                        <span class="fab fa-apple display-26 pe-3"></span>
                                            <span class="media-body">
                                            <span class="d-block display-32">Download on the</span>
                                            <strong>App Store</strong>
                                            </span>
                                            </span>
                                        </a>

                                        <a href="#" class="btn bordered text-start ms-1 ms-lg-0 ms-xl-1 mt-1 mt-md-0">
                                            <span class="media align-items-center">
                                        <span class="fab fa-google-play display-26 pe-3"></span>
                                            <span class="media-body">
                                            <span class="d-block display-32">Get it on</span>
                                            <strong>Google Play</strong>
                                            </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bottom py-1-9 mt-6 mt-lg-8">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="text-center text-md-start">
                                <p class="mb-0">&copy; <span class="current-year"></span> The Foot is Powered by <a href="" target="_blank" class="text-dark"> Saifu</a></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-style-17 text-center text-md-end">
                                <li><img src="img/content/payment-options/visa.png" alt="..."></li>
                                <li><img src="img/content/payment-options/mastercard.png" alt="..."></li>
                                <li><img src="img/content/payment-options/paypal.png" alt="..."></li>
                                <li><img src="img/content/payment-options/amex.png" alt="..."></li>
                                <li><img src="img/content/payment-options/discover.png" alt="..."></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        
    </div>
    
    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/smartshop-multipurpose-ecommerce-template-WB0N7CT4D" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>
    
    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    
    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="js/core.min.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>
	
	<!-- all js include end -->

</body>


<!-- Mirrored from smartshop.websitelayout.net/checkout-complete.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:40 GMT -->
</html>